<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <!-- Define custom levels before using them for filtering below. -->
    <CustomLevels>
        <CustomLevel name="CLINICAL" intLevel="35" />
        <CustomLevel name="DATA" intLevel="25" />
    </CustomLevels>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %-7level %logger{36} - %msg%n"/>
        </Console>
        <File name="ClinicalFile" fileName="logs/clinical.log">
            <PatternLayout pattern="%d %-7level %logger{36} - %msg%n"/>
        </File>
        <File name="DataFile" fileName="logs/data.log">
            <PatternLayout pattern="%d %-7level %logger{36} - %msg%n"/>
        </File>
        <File name="AllFile" fileName="logs/all.log">
            <PatternLayout pattern="%d %-7level %logger{36} - %msg%n"/>
        </File>
        <File name="ErrorFile" fileName="logs/error.log">
            <PatternLayout pattern="%d %-7level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console" level="info" />
            <AppenderRef ref="ClinicalFile" level="clinical"/>
            <AppenderRef ref="DataFile" level="data" />
            <AppenderRef ref="AllFile" level="info" />
            <AppenderRef ref="ErrorFile" level="error"/>
        </Root>
    </Loggers>
</Configuration>