<?xml version="1.0" encoding="UTF-8"?>
<!-- https://examples.javacodegeeks.com/enterprise-java/logback/logback-rollingfileappender-example/ -->
<configuration debug="true">
    <logger name="org.karnak" level="warn" />
    <logger name="org.karnak.profilepipe" level="info" />
    <property name="LOGS" value="logs" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%black(%d{ISO8601})  %highlight(%-5level) %marker %highlight(%X{SOPInstanceUID}) %highlight(%X{issuerOfPatientID}) %highlight(%X{PatientID}) [%yellow(%t)] %yellow(%C{1.}): %msg%n%throwable </Pattern>
        </encoder>
    </appender>

    <appender name="AllFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/all/all.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <fileNamePattern>${LOGS}/all/all_%i.log</fileNamePattern>
            <minIndex>${KARNAK_LOGS_MIN_INDEX}</minIndex>
            <maxIndex>${KARNAK_LOGS_MAX_INDEX}</maxIndex>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>${KARNAK_LOGS_MAX_FILE_SIZE}</maxFileSize>
        </triggeringPolicy>

        <encoder>
            <pattern>%d %p %marker %C{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="ClinicalFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOGS}/Clinical/clinical.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/Clinical/clinical.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>CLINICAL</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>NEUTRAL</onMatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %m%n</Pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="AllFile" />
        <appender-ref ref="ClinicalFile">
        </appender-ref>
        <appender-ref ref="Console" />
    </root>

</configuration>