<?xml version="1.0" encoding="UTF-8"?>
<!-- https://examples.javacodegeeks.com/enterprise-java/logback/logback-rollingfileappender-example/ -->
<configuration>
    <property name="LOGS" value="logs" />

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%black(%d{ISO8601})  %highlight(%-5level) %marker %highlight(%X{SOPInstanceUID}) %highlight(%X{issuerOfPatientID}) %highlight(%X{PatientID}) [%yellow(%t)] %yellow(%C{1.}): %msg%n%throwable </Pattern>
        </layout>
    </appender>

    <appender name="AllFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/AllFileLogs/all_file_logs.%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <maxFileSize>${KARNAK_LOGS_MAX_FILE_SIZE}</maxFileSize>
            <maxHistory>${KARNAK_LOGS_MAX_HISTORY}</maxHistory>
            <totalSizeCap>${KARNAK_LOGS_TOTAL_SIZE_CAP}</totalSizeCap>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %marker %C{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <appender name="ClinicalFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOGS}/Clinical/clinical.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <filter class="ch.qos.logback.core.filter.EvaluatorFilter">
            <evaluator class="ch.qos.logback.classic.boolex.OnMarkerEvaluator">
                <marker>CLINICAL</marker>
            </evaluator>
            <onMismatch>DENY</onMismatch>
            <onMatch>NEUTRAL</onMatch>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %m%n</Pattern>
        </encoder>
    </appender>

    <!-- LOG everything at INFO level -->
    <root level="info">
        <appender-ref ref="AllFile" />
        <appender-ref ref="ClinicalFile">
        </appender-ref>
        <appender-ref ref="Console" />
    </root>

    <!-- LOG "org.karnak*" at TRACE level -->
    <logger name="org.karnak" level="trace" additivity="false">
        <appender-ref ref="AllFile" />
        <appender-ref ref="ClinicalFile"/>
        <appender-ref ref="Console" />
    </logger>

</configuration>