#  --------------------------------------------------------
#  Karnak Application Profiles
#  --------------------------------------------------------
name: KARNAK-Profile
environment: LOCAL
karnakadmin: ${KARNAK_ADMIN:admin}
karnakpassword: ${KARNAK_PASSWORD:admin}
karnakpostgreskey: ${DB_ENCRYPTION_KEY}

# - Logs
logging:
  level:
    org:
      springframework: INFO
      karnak: INFO
      hibernate:
        orm:
          # Suppress WARN of HHH90006001 in Hibernate 6
          incubating: ERROR
      atmosphere:
         cpr:
           # Suppress WARN  a.c.c.AtmosphereFramework - No BroadcasterCache configured
           AtmosphereFramework: ERROR
server:
  port: 8081
  servlet:
    session:
      persistent: false
  forward-headers-strategy: NATIVE
spring:
  application:
    name: karnak
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/db.changelog-master.yaml
  profiles:
    active: ${activatedProperties:redis}
  datasource:
    url: 'jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5433}/${DB_NAME:karnak}'
    driver-class-name: org.postgresql.Driver
    username: ${DB_USER:karnak}
    password: ${DB_PASSWORD:karnak}
    hikari:
      pool-name: karnak
      leak-detection-threshold: 0
      minimum-idle: 5
      maximum-pool-size: 10
      connection-timeout: 10000
      idle-timeout: 300000 # 5 minutes
      max-lifetime: 900000 # 15 minutes
      validation-timeout: 3000
      connection-test-query: SELECT 1
      connection-init-sql: select set_config('encryption.key', '${DB_ENCRYPTION_KEY}', false)
  mustache:
    check-template-location: false
  jpa:
    hibernate:
      # First time to create the db the value must be: create
      ddl-auto: none
    generate-ddl: false
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        #    In order to still use the unique hibernate_sequence, otherwise we should create a sequence table_name_seq for
        #  each tables
        id:
          db_structure_naming_strategy: legacy
        boot:
          use_jdbc_metadata_defaults: false
        jdbc:
          lob:
            non_contextual_creation: true
monitoring:
  # Maximum of sop instance sent for the monitoring
  max-history: 150000
cache-api:
  # Cache Time to leave in minutes for API calls
  ttl: 15

mail:
  sender: karnak@kheops.online
