
.stroked-button {
  border: 1px solid currentColor;
}

.message-box {
  width: 100%;
}

.message-box-layout {
  border-style: solid;
  border-width: 1px;
  padding: 0px;
}

.message-box-layout-with-margin {
  margin: 0px 16px 0px 16px;
}

.message-box-layout.info {
  border-color: #2196F3;
}

.message-box-layout.warn {
  border-color: #ff9800;
}

.message-box-layout.error {
  border-color: #F44336;
}

.message-box-title {
  color: #ffffff;
  margin-left: 16px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 0.8rem;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
}

.message-box-title.info {
  background-color: #2196F3;
}

.message-box-title.warn {
  background-color: #ff9800;
}

.message-box-title.error {
  background-color: #F44336;
}

.message-box-content {
  color: #2f4f4f;
  background-color: #ffffff;
  width: 100%;
  margin: 0px;
  padding: 12px;
}
