<!--
/*The shared-styles.html is used instead of shared-styles.css so that*/
/*-- the styles are also used for browsers that do not support CSS Custom Properties*/
/*-- (mainly to support IE11)*/
/*-- for more information see: https://cdn.vaadin.com/vaadin-lumo-styles/1.3.1/demo/compatibility.html*/
-->
<!--
/*Remember to import custom-style, which is included in the Polymer package*/
-->
/*<link rel="import" href="../bower_components/polymer/lib/elements/custom-style.html">*/
/*<custom-style>*/
/*<style>*/
html {
  font-size: var(--lumo-font-size-s);
}

/* Stack login-screen vertically on narrow screen */
@media (max-width: 800px) {
  .login-screen {
    flex-direction: column;
  }

  .login-information {
    display: block;
  }
}

label[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

.main-layout {
  flex-direction: row;

  /* Used by the menu and form overlays */
  --overlay-box-shadow: 0 0 3px 2px var(--lumo-contrast-10pct);
}

.menu-bar {
  flex-direction: column;
  flex-shrink: 0;
  background: var(--lumo-base-color);
  box-shadow: var(--overlay-box-shadow);
}

.menu-header {
  padding: 11px 16px;
}

.menu-bar vaadin-tabs {
  align-items: flex-start;
  transition: transform 300ms;
}

.menu-bar vaadin-tab {
  padding: 0;
}

.menu-link {
  margin: 0 auto;
  padding: 10px 37px;
}

.menu-link > span {
  display: block;
}

.menu-button {
  display: none;
}

.forwardnode-form {
  height: 100%;
  width: 300%;
  background: var(--lumo-base-color);
}

.inputsourcenode-form {
  height: 100%;
  width: 250%;
  background: var(--lumo-base-color);
}

/* On narrow screens, move the side bar to the top,
 * except for the link-tabs, which are hidden but
 * can be opened via a button.
 */
@media (max-width: 800px) {
  .main-layout {
    flex-direction: column;
    --top-bar-height: 50px;
    --top-bar-margin: 5vw;
  }

  .menu-bar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: var(--top-bar-height);
    margin: 0 var(--top-bar-margin);
    background: none;
    box-shadow: none;
  }

  .menu-bar vaadin-tabs {
    transform: translateX(calc(-100% - var(--top-bar-margin)));
    position: absolute;
    top: var(--top-bar-height);
    height: calc(100% - var(--top-bar-height));
    z-index: 100;
    box-shadow: var(--overlay-box-shadow);
    background: var(--lumo-base-color);
  }

  .menu-bar .show-tabs {
    transform: translateX(calc(0% - var(--top-bar-margin)));
  }

  .menu-button {
    display: block;
  }

  .forwardnode-form {
    height: calc(100% - var(--top-bar-height));
  }

  .destination-form {
    height: calc(100% - var(--top-bar-height));
  }

  .sourcenode-form {
    height: calc(100% - var(--top-bar-height));
  }

  .inputsourcenode-form {
    height: calc(100% - var(--top-bar-height));
  }
}

@media (max-width: 550px) {
  .forwardnode-form {
    width: 100%;

    /* Prevent text-fields from overflowing on narrow screens */
    --vaadin-text-field-default-width: 6em;
  }

  .destination-form {
    width: 100%;

    /* Prevent text-fields from overflowing on narrow screens */
    --vaadin-text-field-default-width: 6em;
  }

  .sourcenode-form {
    width: 100%;

    /* Prevent text-fields from overflowing on narrow screens */
    --vaadin-text-field-default-width: 6em;
  }

  .inputsourcenode-form {
    width: 100%;

    /* Prevent text-fields from overflowing on narrow screens */
    --vaadin-text-field-default-width: 6em;
  }
}

/*</style>*/
/*</custom-style>*/